@model List<aep_project_1.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "CULTURE";
}


<div class="row">
    
    <!-- ./col -->
    
    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    @{

                    var CUa = Model.Find(x => x.MEASURE_ID == 4);
                    <b>@CUa.MEASURE_VALUE</b>
                }
                <sup style="font-size: 20px"></sup>
            </h3>

            <p>POWER UP &amp; LEAD COMPLETION</p>
        </div>
        <div class="icon">
            <i class="fa fa-handshake-o fa-6"></i>
        </div>

    </div>
</div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@{

                    var CUb= Model.Find(x => x.MEASURE_ID == 6);
                    <b>@CUb.MEASURE_VALUE</b>
                }
                </h3>

                <p>CULTURE CHAMPIONS</p>
            </div>
            <div class="icon">
                <i class="fa fa-trophy fa-6"></i>
            </div>
            
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@{

                    var CUc = Model.Find(x => x.MEASURE_ID == 7);
                    <b>@CUc.MEASURE_VALUE</b>
                }
                </h3>

                <p>ERG PARTICIPANTS</p>
            </div>
            <div class="icon">
                <i class="fa fa-users fa-6"></i>
            </div>
           
        </div>
    </div>
    <!-- ./col -->
</div>


<div class="row">
    <div class="col-md-6">
        <h1 class="page-header"> CONGRATULATION BOARD</h1>
        <div class="box box-widget widget-user">
          <div class="col-md-6">
              <div class="widget-user-header bg-red">
                  <h5 class="widget-user-desc">Recognizee:</h5>
                  <h3 class="widget-user-username">
                      @{

                          var CUd = Model.Find(x => x.MEASURE_ID == 5);
                          @CUd.MEASURE_ENTITY_1
                      }
                  </h3>
                  
              </div>
            </div>
            <div class="col-md-6">
                <div class="widget-user-header bg-red">
                    <h5 class="widget-user-desc">Recognizer:</h5>
                    <h3 class="widget-user-username">@{

                        var CUe = Model.Find(x => x.MEASURE_ID == 5);
                        @CUe.MEASURE_ENTITY_2
                    }
                    </h3>
                    
                </div>
            </div>

            <div class="box-footer">
                @*<div class="row">*@
                <div class="col-lg-12 col-xs-12
                    border-right">
                    <div class="description-block">

                        "<span class="description-text">
                            @{

                            var CUf = Model.Find(x => x.MEASURE_ID == 5);
                            @CUf.MEASURE_VALUE
                        }
                    </span>"
                </div>
                <!-- /.description-block -->
            </div>



                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    <div class="col-md-6">
        <h1 class="page-header"> GOOD CATCH</h1>
        @*<div class="col-lg-6 col-xs-6">*@
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3># 
                    @{

                        var CUh = Model.Find(x => x.MEASURE_ID == 2);
                        <b>@CUh.MEASURE_VALUE</b>
                    }
                    <sup style="font-size: 20px"></sup>
                </h3>
                <h5 class="widget-user-desc">Narrative:</h5>
                <span class="description-text">
                    @{

                        var CUg = Model.Find(x => x.MEASURE_ID == 3);
                        @CUg.MEASURE_VALUE
                    }
                </span>
            </div>
            <div class="icon">
                <i class="fa fa-handshake-o fa-6"></i>
            </div>

        </div>
    </div>

    </div>
   



<div class="row">
    
        
        
        <!-- <div class="box box-widget widget-user">
             Add the bg color to the header using any of the bg-* classes 
            @*<div class="col-md-6">*@
                <div class="widget-user-header bg-red">
                    <h5 class="widget-user-desc">Number:</h5>
                    <h3 class="widget-user-username">@{

//var CUg = Model.Find(x => x.MEASURE_ID == 2);
//CUg.MEASURE_VALUE
                    }</h3>
                    
                </div>
            </div>-->
            @*<div class="col-md-6">
                <div class="widget-user-header bg-red">
                    <h5 class="widget-user-desc">Narrative:</h5>
                    <h3 class="widget-user-username"></h3>
                </div>
            </div>*@

            @*<div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">

                            <span class="description-text"></span>
                        </div>
                        <!-- /.description-block -->
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>*@
        </div>
 
  