@model List<aep_project_1.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "CONTINUOUS IMPROVEMENTS";
}

@*<h2>CONTINUOUS IMPROVEMENTS</h2>*@

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">class 2 estimate tolerance adherance <BR>(+20/-15) for all apps</span>
                    <span class="info-box-number">
                        @{

                        var CIe = Model.Find(x => x.MEASURE_ID == 14);
                        <b>@CIe.MEASURE_VALUE%</b>
                    }
                </span>
                
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">% Ideas Implemented</span>
                    <span class="info-box-number">
                        @{

                            var CIb = Model.Find(x => x.MEASURE_ID == 9);
                            <b>@CIb.MEASURE_VALUE%</b>
                        }
                    
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">

                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">class 4 estimate tolerance adherance <BR>(+50/-30) for all apps</span>
                    <span class="info-box-number">
                        @{

                            var CId = Model.Find(x => x.MEASURE_ID == 13);
                            <b>@CId.MEASURE_VALUE%</b>
                        }
                    </span>
                   
                    </div>
                    <!-- /.info-box-content -->
                </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Ideas Open</span>
                    <span class="info-box-number">
                        @{

                            var CIa = Model.Find(x => x.MEASURE_ID == 8);
                            <b>@CIa.MEASURE_VALUE</b>
                        }


                    </span>

                </div>



                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>

<center>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">class 5 estimate tolerance adherance <BR>(+100/-50) for all apps</span>
                    <span class="info-box-number">
                        @{

                            var CIc = Model.Find(x => x.MEASURE_ID == 12);
                            <b>@CIc.MEASURE_VALUE%</b>
                        }
                    </span>
                    
                    </div>
                    <!-- /.info-box-content -->
                </div>
        </div>

    </div>
</center>