@model List<aep_project_1.Models.SCORECARD_FACT>
@{
    ViewBag.Title = "PROJECTS";
}






<center>
    <div class="row">


        <div class="col-sm-12">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@{

                        var PRa = Model.Find(x => x.MEASURE_ID == 18);
                        @PRa.MEASURE_VALUE
                    }</h3>

                    <p>ACTIVE PROJECTS</p>
                </div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Active Projects On Budget</span>
                    <span class="info-box-number">@{

                        var PRb = Model.Find(x => x.MEASURE_ID == 19);
                        @PRb.MEASURE_VALUE
                    }%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-clipboard"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Active Projects On Schedule</span>
                    <span class="info-box-number">@{

                        var PRc = Model.Find(x => x.MEASURE_ID == 20);
                        @PRc.MEASURE_VALUE
                    }%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa  fa-handshake-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Closed Project Business Partner Satisfaction rating</span>
                    <span class="info-box-number">@{

                        var PRd = Model.Find(x => x.MEASURE_ID == 21);
                        @PRd.MEASURE_VALUE
                    }%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-smile-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Closed Project Budget</span>
                    <span class="info-box-number">@{

                        var PRe = Model.Find(x => x.MEASURE_ID == 22);
                        @PRe.MEASURE_VALUE
                    }%</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>
</center>