@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
       
        <ul class="sidebar-menu">
           
            <li>
                
                <div>
                    <div align="center"><iframe src="http://widget.calendarlabs.com/v1/quot.php?cid=101&uid=8468163801&c=inspirational&l=en&cbg=707372&cb=0&cbc=666600&cf=calibri&cfg=FFFFFF&qfs=i&qta=left&tfg=FFFFFF&tfs=bi&afc=FFFFFF&afs=i" width="188" height="210" marginwidth=0 marginheight=0 frameborder=0 scrolling=no allowtransparency='true'>Loading...</iframe><div align="center" style="width:140px;font-size:10px;color:#333;"></div></div>
                </div>
            </li>
            

            <li class="@Url.IsLinkActive("Index", "Home") btn btn-block btn-primary btn-lg">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Home</span></a>

            <li class="@Url.IsLinkActive("Improvements", "Home") btn btn-block btn-primary btn-lg">
                <a href="@Url.Action("Improvements", "Home")"><i class="fa fa-arrow-up"></i> <span>Improvements</span></a>
            <li class="@Url.IsLinkActive("Safety", "Home") btn btn-block btn-primary btn-lg">
                <a href="@Url.Action("Safety", "Home")"><i class="fa fa-plus-square"></i> <span>Safety</span></a>


            <li class="treeview btn btn-block btn-primary btn-lg">
                <a href="#">
                    <i class="fa fa-bar-chart"></i> <span>Operations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu btn btn-block btn-primary btn-lg">
                    <li><a href="@Url.Action("OMetrics", "Home")">Metrics</a></li>
                    <li><a href="@Url.Action("Projects", "Home")">Projects</a></li>

                </ul>
            </li>

            <li class="@Url.IsLinkActive("AnotherLink", "Home") btn btn-block btn-primary btn-lg">
                <a href="@Url.Action("Culture", "Home")"><i class="fa fa-link"></i> <span>Culture</span></a>

            <li class="@Url.IsLinkActive("EMPLOYEE_PROFILE", "Home") btn btn-block btn-primary btn-lg">
                <a href="@Url.Action("EMPLOYEE_PROFILE", "Home")"><i class="fa fa-asterisk"></i> <span>Employee Profile</span></a>

        </ul>
        <br />

    </section>
</aside>