@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header"></li>

            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Home</span></a>

            <li class="@Url.IsLinkActive("Improvements", "Home")">
                <a href="@Url.Action("Improvements", "Home")"><i class="fa fa-arrow-up"></i> <span>Improvements</span></a>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-plus-square"></i> <span>Safety</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("SMetrics", "Home")">Metrics</a></li>
                    <li><a href="@Url.Action("Incidents", "Home")">Incidents</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart"></i> <span>Operations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("OMetrics", "Home")">Metrics</a></li>
                    <li><a href="@Url.Action("Projects", "Home")">Projects</a></li>

                </ul>
            </li>

            <li class="@Url.IsLinkActive("AnotherLink", "Home")">
                <a href="@Url.Action("Culture", "Home")"><i class="fa fa-link"></i> <span>Culture</span></a>

                   
           
        </ul>
        @* END Menu *@
    </section>
</aside>